extends layout

block content
  h1= "Site desenvolvido para a disciplina de Programação Web 2"
  p #{paragrafo1}
  p #{paragrafo2}
  p #{paragrafo3}
  p #{paragrafo4}
  ul
    each val in lista
      li= val
